* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #2c2c2c;
  --secondary-color: #181818;
  --effect-color: rgb(17 138 46 / 80%);
  --border-default: 1px solid rgb(19, 19, 19);
  --gray-text: rgb(169 169 169);
}

body {
  background-color: var(--main-color);
  color: #fff;
  overflow-x: hidden;
}

.container {
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px 0;
  z-index: 10;
  box-shadow: 0px 6px 3px 0px rgb(0 0 0 / 30%);
  border-bottom: var(--border-default);
}

/* FILTER */
.filters ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.filters a {
  display: block;
  text-decoration: none;
  margin: 10px;
  color: var(--gray-text);
  transition: 0.5s;
}

.filters a:hover {
  color: white;
  text-shadow: 0 0 10px var(--effect-color);
}

.filters a.active {
  color: white;
}

/* SEARCH */
.search {
  padding: 10px 0;
}

.search-input {
  min-height: 40px;
  padding: 10px;
}

.search-btn {
  min-width: 40px;
  min-height: 40px;
  padding: 10px;
}

/* MAIN */
.main {
  margin-top: 200px;
}

.main h2 {
  margin-bottom: 14px;
  border-bottom: var(--border-default);
}

