* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #2c2c2c;
  --secondary-color: #181818;
  --effect-color: rgb(17 138 46 / 80%);
  --border-default: 1px solid rgb(19, 19, 19);
  --gray-text: rgb(169 169 169);
}

body {
  background-color: var(--main-color);
  color: #fff;
  overflow-x: hidden;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

/* DEFAULT */
.button-default {
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--gray-text);
  border: var(--border-default);
  box-shadow: 6px 6px 3px 0px rgb(0 0 0 / 30%);
  transition: 0.5s;
  cursor: pointer;
}

.button-default:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 9px 3px var(--effect-color);
}